@import "bootstrap-responsive.min.css"
@import "bootstrap.min.css"
@import url(http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro)

body
  margin-top: 60px
  font-family: 'Oranienbaum', serif

p
  font-size: 16px
  font-family: 'Source Sans Pro', sans-serif

.lead
  font-size: 24px
  line-height: 36px
  color: #666
