@import url(bootstrap-responsive.min.css);
@import url(bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  margin-top: 60px;
  background: #eeeeee;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; }

h1, h2, h3 {
  font-family: "Oranienbaum", serif;
  text-shadow: 1px 1px 0 white; }

.lead {
  font-size: 24px;
  line-height: 36px;
  text-shadow: 1px 1px 0 white;
  color: #666666; }

.google-plus {
  margin-bottom: 7px; }
