!!! 5
%html
  %head
    %title Nick Kugaevsky :: Develop. Travel. Fun.
    %link{ href: "favicon.ico", rel: "icon", type: "image/ico" }/
    %link{ href: "stylesheets/styles.css", rel: "stylesheet", type: "text/css" }/

  %body
    .container
      .row
        .span3
          %aside
            %img.avatar.img-polaroid{ alt: "Nick Kugaevsky", src: "images/my-ava.png" }
        .span5
          %section
            %header
              %h1 Nick Kugaevsky
              %p.lead Develop. Travel. Fun.
            %article
              %ul
                %li Frontend engineering
                %li Ruby on rails full stack development
                %li Application design
                %li Workflow productivity
        .span4
          %section
            %header
              %h1
                %small Get social
            %article.social-links
              %ul.unstyled
                %li.twitter
                  %a.twitter-follow-button{ href: 'https://twitter.com/kugaevsky', data: { lang: 'en', size: 'normal', 'show-count' => 'true' }} Follow @kugaevsky
                %li.google-plus
                  %a.btn.btn-mini{ href: "http://plus.google.com/102962124128326285509?prsrc=3", rel: "publisher" }
                    %img{ alt: "Google+", src: "http://ssl.gstatic.com/images/icons/gplus-16.png", style: "border:0;width:16px;height:16px;"}/
                    Add to Google+ circles
                %li.linkedin
                  %a.btn.btn-mini{ href: 'http://www.linkedin.com/pub/nick-kugaevsky/1b/117/395'}
                    %img{ src: 'https://s3-s.licdn.com/scds/common/u/img/favicon_v3.ico' }
                    LinkedIn profile
                %li.github
                  %a.btn.btn-mini{ href: 'https://github.com/kugaevsky'}
                    %img{ src: 'https://github.com/favicon.png' }
                    Projects on github
                %li.github
                  %a.btn.btn-mini{ href: 'https://github.com/kugaevsky'}
                    %img{ src: 'http://cdn.coderwall.com/assets/favicon-7e6bed591eb101ee51bd9c308b42d17b.png' }
                    Coderwall profile
              %h2
                %small
                  or
                  %a{ href: 'mailto:nick@kugaevsky.ru' } mail me
      .row
        .span12.hall-of-fame.fade
          %h1
            Fame-o-meter!
            %small Why so serious?
          #fame-accordion.accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle.collapsed{ href: "#acc-coderwall", data: { parent: "#fame-accordion", toggle: "collapse" }}
                  %span.lead Coderwall badges
              #acc-coderwall.accordion-body.collapse
                .accordion-inner
                  #coderwall-badges
                  .clearfix
            .accordion-group
              .accordion-heading
                %a.accordion-toggle.collapsed{ href: "#acc-github", data: { parent: "#fame-accordion", toggle: "collapse" }}
                  %span.lead Github projects
              #acc-github.accordion-body.collapse
                .accordion-inner
                  #github-projects
            / .accordion-group
            /   .accordion-heading
            /     %a.accordion-toggle.collapsed{ href: "#acc-codeschool", data: { parent: "#fame-accordion", toggle: "collapse" }}
            /       %span.lead Codeschool
            /   #acc-codeschool.accordion-body.collapse
            /     .accordion-inner
            /       Codeshool badges

  %footer
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          .row
            .span6.copyright
              2012 © Nick Kugaevsky
            .span6.fame-o-meter
              .pull-right
                .btn-group.fame-toggler{ data: { toggle: "buttons-radio" }}
                  %button.btn.active{  type: "button", value: "0", data: { toggle: "button" }} OFF
                  %button.btn.btn-primary{ type: "button", value: "1", data: { toggle: "button" }} ON
              .pull-right
                %h3 Fame-o-meter

    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
    %script{ src: "javascripts/bootstrap.min.js" }
    %script{ src: 'javascripts/jquery-proudify.min.js' }
    %script{ src: "javascripts/scripts.js" }

    / Follow on twitter
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
