
%html
  %head
    %title Nick Kugaevsky :: Develop. Travel. Fun.

    %link{ href: "favicon.ico", rel: "icon", type: "image/ico" }/

    %link{ href: "stylesheets/styles.css", rel: "stylesheet", type: "text/css" }/
    %script{ src: "javascripts/scripts.js" }

  %body
    .row-fluid
      .container
        .span2
          %img.img-polaroid{ alt: "Nick Kugaevsky", src: "images/my-ava.png" }
        .span4
          %h1 Nick Kugaevsky
          %p.lead Develop. Travel. Fun.
